/* --- Slick Carousel styles --- */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

/* --- Google Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');



/* --- IRANSansX (فونت فارسی - Local) --- */
@font-face {
  font-family: 'IRANSansX';
  src: url('/fonts/IRANSansX/IRANSansXFaNum-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'IRANSansX';
  src: url('/fonts/IRANSansX/IRANSansXFaNum-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'IRANSansX';
  src: url('/fonts/IRANSansX/IRANSansXFaNum-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

/* --- اعمال فونت بر اساس زبان بدون تغییر جهت (بدون direction) --- */
html[lang='fa'] body {
  font-family: 'IRANSansX', sans-serif !important;
}
html[lang='de'],
html[lang='es'],
html[lang='fr'],
html[lang='en'] {
  font-family: 'Manrope', sans-serif !important;
}

/* --- جلوگیری از بازنویسی توسط MUI یا سایر کتابخانه‌ها --- */
.MuiTypography-root {
  font-family: inherit !important;
}

/* --- رنگ‌های پایه --- */
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* --- ساختار کلی صفحه --- */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100%;
}
body {
  margin-top: 56px; /* پیش‌فرض برای موبایل */
  position: relative;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

@media (min-width: 768px) {
  body {
    margin-top: 12px; /* فاصله کمتر برای دسکتاپ */
  }
}


body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(3px);
  z-index: -1;
}

/* --- تنظیمات کلی --- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  
}
