.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.0);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.container:hover {
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.15);
}

.formContainer {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
}

.header {
  text-shadow: 1px 1px 3px rgba(5, 7, 15, 0.966);
  font-size: 28px;
  font-weight: 700;
  color: #e1e2e4;
  margin-top: -100px;
  margin-bottom: 100px;
  text-align: center;
}

.inputGroup {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.inputWithIcon {
  position: relative;
  width: 100%;
}

.input {
  padding: 12px;
  padding-left: 45px; /* فضای بیشتر برای آیکون */
  font-size: 18px;
  margin-bottom: 10px;
  border: 1px solid #dcdcdc;
  transition: border-color 0.3s ease;
  width: 100%;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}

.icon {
  position: absolute;
  left: 15px; /* فاصله آیکون از چپ */
  top: 50%; /* قرار گرفتن آیکون وسط از لحاظ عمودی */
  transform: translateY(-80%);
  color: #888;
  font-size: 20px; /* سایز آیکون */
}


.button {
  padding: 12px;
  font-size: 16px;
  background-color: rgba(0, 123, 255, 0.9);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  width: 100%;
}

.button:hover:not(:disabled) {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.button:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

.errorMessage {
  color: rgb(251, 255, 8);
  font-size: 22px; /* اندازه بزرگ‌تر */
  font-weight: bold; /* ضخیم‌تر */
  margin-bottom: 10px; /* فاصله بیشتر از عناصر دیگر */
  text-align: center; /* متن در وسط */
}


.successMessage {
  color: green;
  margin-top: 10px;
  font-weight: 500;
}

.resendButton {
  margin-top: 10px;
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resendButton:hover {
  background-color: #218838;
}

.timer {
  margin-top: 10px;
}



.phoneIcon {
  color: #007bff; /* آبی */
}

.emailIcon {
  color: #28a745; /* سبز */
}

.addressIcon {
  color: #ffc107; /* زرد */
}

.userIcon {
  color: #fd7e14; /* نارنجی */
}

.keyIcon {
  color: #17a2b8; /* فیروزه‌ای */
}